body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    color: #333;
}

header p {
    margin: 5px 0;
    color: #666;
}
/* summary start  */
.Summary p {
    text-align: justify; 
    margin-top: px; 
}
/* summary end  */

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #333;
}

section {
    margin-bottom: 20px;
}

.degree {
    margin-bottom: 15px;
}

.degree h3 {
    margin: 0;
    font-size: 17px;
    color: #333;
}

.degree p {
    margin: 5px 0;
    color: #000000b6;
    font-weight: 600;
}
.degree #lesssmall{
    font-size: 14px; 
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li{
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
    color: #333;
}
.skills li:hover{
    border-left: 10px solid #4c01ee;

}
/* stat project  */
.projects .project-cont  p{
   line-height: 21px;
}
.projects .project-cont  li{
    margin-bottom:10px ;
}

.coursework .coursework-cont li{
    margin-bottom:10px ;
}
/* End project  */




